body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(250, 250, 255);
}

/* body * {
    border: 1px solid red;
} */

.mainContainer {
    display: flex;
    justify-content: center;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    margin: 5px;
}

.gridContainer {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.gridRow {
    display: flex;
    min-width: 20px;
    min-height: 20px;
}

.gridCell {
    border: 1px solid black;
    margin: 1px;
    min-width: 20px;
    min-height: 20px;
}